
#footer {
  margin-top: 1%;
  width: 100%;  
  height: 100px;
	background: rgb(117, 46, 116);
  padding-top: 35px;
  text-align: center;
  position: relative;
  bottom: 0;
}

#footer p {
  padding-top: 5px; 
}

.linkCinza {
  color: rgb(206, 206, 206);
  text-decoration: none;
}