#footer {
  margin-top: 50px;
  height: 100px;
	background: rgb(117, 46, 116);
  padding-top: 35px;
  text-align: center;
}

#footer p {
  padding-top: 5px; 
}

.linkCinza {
  color: rgb(206, 206, 206);
  text-decoration: none;
}