body {
  margin: 0;
  padding-top: 50px;
<<<<<<< HEAD
  margin-bottom:50px;;
=======
  margin-bottom:50px;
>>>>>>> 3cf75bafabda5e9e02b75d91618cae1429960f65
  font-family: sans-serif;
}

#footer {
  margin-top: 1%;
  width: 100%;  
  height: 100px;
	background: rgb(117, 46, 116);
  padding-top: 35px;
  text-align: center;
<<<<<<< HEAD
  position:relative;
=======
  position: relative;
>>>>>>> 3cf75bafabda5e9e02b75d91618cae1429960f65
  bottom: 0;
}

#footer p {
  padding-top: 5px; 
}

.linkCinza {
  color: rgb(206, 206, 206);
  text-decoration: none;
}